# **3. Группировка**

Группировка позволяет объединять данные по определенным признакам и применять к ним различные **агрегирующие функции**. 

Представьте, что мы провели онлайн-опрос среди пользователей по оценке качества контента. Теперь мы хотим узнать, *как оценки различаются по возрастным категориям*. С помощью **группировки** данных мы можем *разделить ответы на группы по возрастам* и посчитать *среднее значение оценки в каждой группе*. Кроме того, группировка позволяет выявить минимальные и максимальные оценки в каждой категории, а также другие статистики, чтобы лучше понять, как разные возрастные группы реагируют на контент.

Мы будем работать с привычным датасетом `Titanics.csv`, и для начала, также привычным образом, импортируем `pandas` и прочитаем таблицу.

In [2]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/aaparshina/FCI_22-23_data_analysis/main/data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## **Методы агрегирования данных**

**Функция агрегирования (агрегации)** - это функция, которая принимает несколько отдельных значений и возвращает одно обобщенное (агрегированное) значение.

**Основные функции агрегации**

|     | Описание                                                 | Синтаксис в pandas                     |
|-------------|----------------------------------------------------------|----------------------------------------|
| **Среднее**    | Вычисляет среднее значение группы чисел.                | `df['column_name'].mean()`            |
| **Сумма**     | Складывает все значения группы чисел.                        | `df['column_name'].sum()`             |
| **Минимум**     | Находит наименьшее значение группы чисел.                   | `df['column_name'].min()`             |
| **Максимум**     | Находит наибольшее значение группы чисел.                   | `df['column_name'].max()`             |
| **Количество**   | Подсчитывает количество непропущенных значений в группе.              | `df['column_name'].count()`           |
| **Количество уникальных значений** | Подсчитывает количество уникальных значений в группе.   | `df['column_name'].nunique()`         |

❗️Разные функции агрегации предназначены для **различных типов данных**. Поэтому перед использованием той или иной функции обязательно убедитесь, что выбранный вами признак соответствует необходимому типу данных для применения этой функции
- **Числовые непрерывные** признаки - `mean()`, `min()`, `max()`, `sum()`, `count()`
- **Числовые дискретные** признаки - `mean()`, `min()`, `max()`, `sum()`, `count()`, `nunique()`
- **Категориальные** (номинальные и порядковые) признаки - `count()`, `nunique()`

In [5]:
# Посмотрим на наши данные
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 1. **Среднее значение** - `.mean()`
- Вычисляется для **числовых** (как непрерывных, так и дискретных) признаков

In [8]:
df['Fare'].mean()

32.204207968574636

### 2. **Сумма** - `.sum()`
- Вычисляется для **числовых** (как непрерывных, так и дискретных) признаков

In [9]:
df['Fare'].sum()

28693.9493

### 3. **Минимум и максимум** - `.min()` and `.max()`
- Вычисляется для **числовых** (как непрерывных, так и дискретных) признаков

In [10]:
df['Fare'].min()

0.0

In [11]:
df['Fare'].max()

512.3292

### 4. **Общее количество** - `.count()`
- Вычисляется для любых признаков
- Возвращает количество **не**пропущенных значений

In [12]:
df['Cabin'].count()

204

In [13]:
df['Fare'].count()

891

- `.sum()` [1 3 4 5 10] -> 23
- `.mean()` [1 3 4 5 10] -> ~5
- `.min()` [1 3 4 5 10] -> 1
- `.max()` [1 3 4 5 10] -> 10
- `.count()` [1 3 NaN 4 5 10 NaN] -> 5

### 5. **Количество уникальных значений** - `.nunique()`
- Вычисляется для **числовых дискретных** и **категориальных** признаков
- Если призутствуют пропущенные значения - также считаются за уникальное значение. Например, если признак содержит три категории 'one', 'second' и 'third', но есть еще и пропущенные значения, `.nunique()` вернет 4.

Сами уникальные значения можно посмотреть с помощью `unique()`:

In [9]:
df['Pclass'].unique()

array([3, 1, 2])

Их количество (длина массива, возвращаемого `unique()`) и отображается в `nunique()`:

In [18]:
df['Pclass'].nunique()

3

## **Группировка данных** `.groupby()`

Группировка данных с помощью `.groupby()` - метод, который позволяет **объединить** данные по одному или нескольким признакам и далее выполнить **агрегацию** на этих группах (функциями агреггации, о которых говорили выше). 

По сути, метод `.groupby()` разбивает датафрейм на группы в зависимости от значений в одном или нескольких столбцах. После группировки по значениям можно применять различные функции агрегации, такие как `mean`, `sum`, `count` и другие, к каждой из групп.

### 1. Простейшая группировка: одна функция агрегации и один столбец интереса

Для выполнения простейшей группировки данных с применением одной функции агрегации в pandas используется следующий синтаксис:

``` python
    датафрейм.groupby("столбец группировки")["столбец интереса"].метод агрегирования()
```

**Столбец группировки** — признак, по которому мы разбиваем нашу изначальную таблицу на несколько групп (категорий). Обычно это *категориальные переменные*, такие как пол, город или класс.

**Столбец интереса** — признак, статистику по которому мы хотим посчитать внутри каждой группы. Под статистикой здесь подразумевается результат любой из функций агрегации, таких как среднее, сумма или количество. Это могут быть как *количественные переменные* (например, возраст или доход), так и *категориальные переменные* (например, вид медали).

#### Пример

**Задача** - найти среднюю цену за билет в разных портах. 

В такой формулировке:
- Столбец группировки - порт (`Embarked`)
- Столбец интереcа - цена за билет (`Fare`)
- Функция агрегации (статистика) - среднее значение (`mean()`)

In [11]:
df.groupby("Embarked")["Fare"].mean()

Embarked
C    59.954144
Q    13.276030
S    27.079812
Name: Fare, dtype: float64

### 2. Группировка: несколько столбцов интереса

Когда необходимо получить агрегированные значения для **нескольких столбцов интереса**, синтаксис будет выглядеть так:

``` python
    датафрейм.groupby("столбец группировки")[["ст. интереса 1", "ст. интереса 2", ...]].метод агрегирования()
```

#### Пример
**Задача** - найти среднюю цену за билет и средний возраст людей в разных портах.

В такой формулировке:
- Столбец группировки - порт (`Embarked`)
- Столбцы интереcа - цена за билет (`Fare`) и возраст людей (`Age`)
- Функция агрегации (статистика) - среднее значение (`mean()`)

In [29]:
df.groupby('Embarked')[['Fare', 'Age']].mean()

               Fare        Age
Embarked
C         59.954144  30.814769
Q         13.276030  28.089286
S         27.079812  29.445397

### 3. Группировка: несколько столбцов группировки

Также иногда Вам может понадобиться получить агрегированные значения по **несколькии столбцам группировки**:

``` python
    датафрейм.groupby(["ст. группировки 1", "ст. группировки 2", ...])["столбец интереса].метод агрегирования()
```

#### Пример
**Задача** - найти средний возраст мужчин и женщин в каждом порту 

В такой формулировке:
- Столбцы группировки - пол (`Sex`) и порт (`Embarked`)
- Столбец интереcа - возраст (`Age`)
- Функция агрегации (статистика) - среднее значение (`mean()`)

In [30]:
df.groupby(['Sex', 'Embarked'])['Age'].mean()

Sex     Embarked
female  C           28.344262
        Q           24.291667
        S           27.771505
male    C           32.998841
        Q           30.937500
        S           30.291440
Name: Age, dtype: float64

### 4. Группировка: несколько функций агрегации

В pandas также можно применять *несколько методов агрегации* одновременно для одного столбца интереса:

``` python
    датафрейм.groupby("ст. группировки")["ст. интереса"].agg(["метод 1", "метод 2", ...])
```

#### Пример
**Задача** - для каждого порта определить среднюю цену за билет и общую стоимость билетов среди пассажиров.

В такой формулировке:
- Столбец группировки - порт (`Embarked`)
- Столбец интереcа - цена за билет (`Fare`)
- Функции агрегации (статистики) - среднее значение (`mean()`) и сумма (`sum()`)

In [31]:
df.groupby("Embarked")["Fare"].agg(['mean', 'sum'])

               mean         sum
Embarked
C         59.954144  10072.2962
Q         13.276030   1022.2543
S         27.079812  17439.3988