# **Практика 3. Новые признаки**

В вашем распоряжении — стандартный датасет экспорта из рекламной платформы (например, Meta Ads или Google Ads), содержащий ключевые метрики рекламных компаний:

- `Campaign name`: название рекламной компании
- `Campaign period`: месяца, когда реализовывалась рекламная компания
- `Campaign month`: конкретный месяц реализации рекламной компании
- `Delivery status`: текущее состояние рекламной кампании
- `Reach`: количество уникальных пользователей, которые увидели ваше рекламное объявление хотя бы один раз.
- `Outbound clicks`: количество кликов по ссылке в вашем объявлении, которые привели пользователя за пределы платформы (например, на ваш сайт, в приложение и т.д.)
- `Landing page views`: количество раз, когда пользователь не только кликнул по объявлению, но и успешно загрузил целевую страницу (посадочную страницу, лендинг).
- `Result type`: какое именно целевое действие считается результатом компании
- `Results`: количество достигнутых целевых действий
- `Amount spent (AED)`: общий бюджет, израсходованный на рекламную кампанию

In [ ]:
import pandas as pd
df = pd.read_csv('../data/campaign_data.csv')
df.head()

,Campaign name,Campaign period,Campaign month,Delivery status,Reach,Outbound clicks,Landing page views,Result type,Results,Amount spent (AED)
0,brand awareness,march,march,archived,141835342,32289,5584,Reach,142000000,25531.47
1,cpr | ads website leads prospecting | 18 to 35...,march,march,inactive,4434511,38284,16060,Website leads,4347,19756.78
2,internship | virtual internship,nov | dec | jan | oct | fall | feb,nov,completed,911773,15679,10904,Website applications submitted,2706,16156.41
3,internship | virtual internship,nov | dec | jan | oct | fall | feb,dec,completed,1010394,16961,12387,Website applications submitted,2625,14935.46
4,internship | virtual internship,nov | dec | jan | oct | fall | feb,jan,inactive,1580670,27483,21140,Website applications submitted,5707,14887.13

# 1
Изучите представленные данные.

## 1.1 
>*Укажите размер таблицы:*
>- Наблюдений: `?`
>- Признаков: `?`

## 1.2
>*Укажите количество признаков, в которых есть пропуски:*

## 1.3
>*Укажите тип данных каждого признака.*
>
>*Варианты для выбора:*
>- object  
>- int64
>- float64

## 1.4
>*Укажите шкалу измерения каждого признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**:

---

# 2
>*Создайте два новых признака `CPR` (стоимость одного целевого действия: `Amount spent (AED)` / `Results)` и `CPC` (стоимость одного клика: `Amount spent (AED)` / `Outbound clicks`).*

## 2.1

>Укажите шкалу измерения созданных признаков:
>*Укажите шкалу измерения каждого признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: `???`

## 2.2

>*Среди приостановленных рекламных компаний (**inactive**; `Delivery status`) найдите рекламную компанию с наибольшей стоимостью одного целевого действия (`CPR`). В ответ укажите стоимость одного клика для нее (`CPC`). Ответ округлите до двух знаков.*

---

# 3

>*Создайте новый признак `Reach_coded` на основе охвата (`Reach`):*
>
>- *если охват меньше 45 000, вернуть `Low`*
>- *если охват меньше 455 000, вернуть `Middle`*
>- *в остальных случаях вернуть `High`*

## 3.1
>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: `???`

## 3.2
>*Среди рекламных компаний с низким (**Low**; `Reach_coded`) и высоким охватом (**High**; `Reach_coded`) найдите ту, у которой количество загрузок целевой страницы (`Landing page views`) наибольшее. В ответ укажите тип целевого действия (`Result type`), которое приследовала эта рекламная компания.*

---

# 4
>*В описании некоторых рекламных компаний (`Campaign name`) обозначена целевая аудитория. Создадим новый признак `TA` по следущему правилу:*
>
>- *если `Campaign name` содержит 18 to 35 years, вернуть **18-35***
>- *в остальных случаях вернуть **all***

## 4.1
>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: `???`

## 4.2

>*Найдите процент рекламных компаниях, целевая аудитория которых от 18 до 35 лет (**18-35**; `TA`). Ответ округлите до двух знаков.*

---

# 5

>*Создайте новый признак `Campaign Len`, который будет содержать информацию о количестве символов в названии рекламной компании (`Campaign name`).*

## 5.1

>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: `???`

## 5.2
>*Найдите месяц реализации рекламной компании (`Campaign month`) с самым коротким названием (`Campaign Len`), у которой `Outbound clicks` менее 1000.*

---

## 6

>*Создайте новый признак `Month count`, в котором будет содержаться информация по продолжительности рекламных компаний. Логика нового признака*
>- *если `Campaign period` содержит **fall**, вернуть **12***
>- *во всех остальных случаях вернуть количество месяцев*

## 6.1

>*Укажите шкалу измерения созданного признака:*
>
>*Варианты для выбора:*
>- количественный дискретный
>- количественный непрерывный
>- категориальный порядковый
>- категориальный бинарный
>- категориальный номинальный

**Ответ**: `???`

## 6.2
>*Укажите название рекламной компании (`Campaign name`), реализуемой весь год (**12**; `Month count`), со средним охватом аудитории (**Middle**; `Reach_coded`) у которой общие затраты (`Amount spent (AED)`) наименьшие.*